<div id="home">
    <%= link_to "Home", root_path %>
</div>

<div id="profile_link">
  <%= link_to "Profile", user_path(session[:user_id]) %>
</div>

<div id="logout-link">
    <%= link_to "Logout", logout_path %>
</div>
