<%= render "layouts/admins_header" %>

<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-heading">Edit Project</div>
			<%= render 'form' %>
		</div>
	</div>
</header>
